<h2 class="tab_panel_title mb-3">Archived Books</h2>

<table id="archived_books_table" class="table table-bordered border-dark mt-3">
  <thead class="border-dark">
    <tr>
      <th class="text-center text-white" style="background-color: #c8131a">
        Book ID
      </th>
      <th class="text-center text-white" style="background-color: #c8131a">
        Book Name
      </th>
      <th class="text-center text-white" style="background-color: #c8131a">
        Book Type
      </th>
      <th class="text-center text-white" style="background-color: #c8131a">
        Action
      </th>
    </tr>
  </thead>
  <tbody class="table-group-divider text-center">
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td>
        <button
          class="btn btn-success restore_button"
          data-bs-toggle="modal"
          data-bs-target="#restore_book_modal"
        >
          <i class="fa-solid fa-rotate-left"></i>Restore
        </button>
      </td>
    </tr>
  </tbody>
</table>

<!-- for restore book modal -->
{% include 'bm/bm_modals/restore_book.html' %}
