<h2 class="tab_panel_title mb-3">Manage Books</h2>

<div class="d-flex justify-content-between">
  <div>
    <button
      id="addBookButton"
      class="add_book_button custom_button add_button"
      data-bs-toggle="modal"
      data-bs-target="#add_book_modal"
    >
      <i class="fa-solid fa-plus add_icon"></i>
      Add book
    </button>
  </div>
</div>

<table id="manage_books_table" class="table table-bordered border-dark mt-3">
  <thead class="border-dark">
    <tr>
      <th class="text-center text-white" style="background-color: #c8131a">
        Book ID
      </th>
      <th class="text-center text-white" style="background-color: #c8131a">
        Book Name
      </th>
      <th class="text-center text-white" style="background-color: #c8131a">
        Book Type
      </th>
      <th class="text-center text-white" style="background-color: #c8131a">
        Actions
      </th>
    </tr>
  </thead>
  <tbody class="table-group-divider text-center">
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td>
        <button
          class="btn btn-warning edit_button"
          data-bs-toggle="modal"
          data-bs-target="#edit_book_modal"
        >
          <i class="fa-solid fa-pen-to-square"></i>Edit
        </button>
        <button
          class="btn btn-danger archive_button"
          data-bs-toggle="modal"
          data-bs-target="#archive_book_modal"
        >
          <i class="fa-solid fa-box-archive"></i>Archive
        </button>
      </td>
    </tr>
  </tbody>
</table>

<!-- for add books modal -->
{% include 'bm/bm_modals/manage_books/add_books.html' %}

<!-- for edit books modal -->
{% include 'bm/bm_modals/manage_books/edit_books.html' %}

<!-- for edit book confirmation modal -->
{% include 'bm/bm_modals/manage_books/edit_book_confirmation.html' %}

<!-- for archive books modal -->
{% include 'bm/bm_modals/manage_books/archive_books.html' %}
