{% extends "base/base.html" %} {% load static %}
<title>{% block title %} User Management {%endblock %}</title>
{% block head %}
<link rel="stylesheet" href="{% static 'styles/base_styles.css' %}" />
<link
  rel="stylesheet"
  href="{% static 'styles/user_management/um_base_styles.css' %}"
/>
{% endblock %} {% block content %}

<main>
  <ul class="nav nav-tabs custom_tabs">
    <li class="nav-item">
      <a
        href="#manage_users"
        class="nav-link active"
        id="manage_users_tab"
        data-bs-toggle="tab"
      >
        <i class="fa-solid fa-user-group"></i> Manage Users
      </a>
    </li>

    <li class="nav-item">
      <a
        href="#manage_user_levels"
        class="nav-link"
        id="manage_user_levels_tab"
        data-bs-toggle="tab"
      >
        <i class="fa-solid fa-user-tag"></i> Manage User Levels
      </a>
    </li>

    <!-- <li class="nav-item">
      <a
        href="#manage_privileges"
        class="nav-link"
        id="manage_privileges_tab"
        data-bs-toggle="tab"
      >
        <i class="fa-solid fa-key"></i> Manage Privileges
      </a>
    </li> -->
  </ul>

  <div class="tab-content pt-3">
    <div
      class="tab-pane fade show active"
      id="manage_users"
      role="tabpanel"
      aria-labelledby="manage_users_tab"
    >
      {% include 'user_management/um_tables/manage_users.html' %}
    </div>

    <div
      class="tab-pane fade"
      id="manage_user_levels"
      role="tabpanel"
      aria-labelledby="manage_user_levels_tab"
    >
      {% include 'user_management/um_tables/manage_user_levels.html' %}
    </div>

    <!-- <div
      class="tab-pane fade"
      id="manage_privileges"
      role="tabpanel"
      aria-labelledby="manage_privileges_tab"
    >
      {% include 'user_management/um_tables/manage_privileges.html' %}
    </div> -->
  </div>
</main>

{% endblock %} {% block scripts %}

<!-- script for datatable for manage users -->
<script src="{% static 'scripts/user_management/um_tables/manage_users.js' %}"></script>

<!-- script for datatable for manage user levels -->
<script src="{% static 'scripts/user_management/um_tables/manage_user_levels.js' %}"></script>

<!-- script for datatable for manage privileges -->
<script src="{% static 'scripts/user_management/um_tables/manage_privileges.js' %}"></script>

<!-- script for show and unshow password -->
<script src="{% static 'scripts/user_management/um_modals/password.js' %}"></script>

<!-- script for showing user details -->
<script src="{% static 'scripts/user_management/um_modals/manage_users/view_user_details.js' %}"></script>

<!-- script for accordion -->
<script src="{% static 'scripts/user_management/um_modals/manage_user_levels/accordion.js' %}"></script>
{% endblock %}
