<h2 class="tab_panel_title mb-3">Chart of Accounts</h2>

<div class="d-flex justify-content-between">
  <div>
    <button
      id="addAccountButton"
      class="add_account_button custom_button add_button"
      data-bs-toggle="modal"
      data-bs-target="#add_account_modal"
    >
      <i class="fa-solid fa-plus add_icon"></i>
      Add account
    </button>
  </div>
</div>

<table id="chart_of_accounts_table" class="table table-bordered border-dark">
  <thead class="border-dark">
    <tr>
      <th class="text-center text-white" style="background-color: #c8131a">
        Account Code
      </th>
      <th class="text-center text-white" style="background-color: #c8131a">
        Account Description
      </th>
      <th class="text-center text-white" style="background-color: #c8131a">
        Account Type
      </th>
      <th class="text-center text-white" style="background-color: #c8131a">
        Nature of Log
      </th>
      <th class="text-center text-white" style="background-color: #c8131a">
        Actions
      </th>
    </tr>
  </thead>
  <tbody class="table-group-divider text-center">
    {% for account in accounts %}
    <tr>
      <td class="text-center">{{ account.account_code }}</td>
      <td>{{ account.account_description }}</td>
      <td>{{ account.account_type }}</td>
      <td>{{ account.nature_of_log }}</td>
      <td>
        <button
          class="btn btn-warning edit_button"
          data-bs-toggle="modal"
          data-bs-target="#edit_account_modal"
          data-account-id="{{ account.id }}"
        >
          <i class="fa-solid fa-pen-to-square"></i> Edit
        </button>
        <button
          class="btn btn-danger deactivate_button"
          data-bs-toggle="modal"
          data-bs-target="#deactivate_account_modal"
          data-account-id="{{ account.id }}"
        >
          <i class="fa-regular fa-circle-pause"></i> Deactivate
        </button>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<!-- for add account modal -->
{% include 'coa/coa_modals/add_account.html' %}

<!-- for edit account modal -->
{% include 'coa/coa_modals/edit_account.html' %}

<!-- for edit account confirmation modal -->
{% include 'coa/coa_modals/edit_account_confirmation.html' %}

<!-- for deactivate account modal -->
{% include 'coa/coa_modals/deactivate_account.html' %}
