<h2 class="tab_panel_title mb-3">Deactivated Accounts</h2>

<table id="list_of_deactivated_table" class="table table-bordered border-dark">
  <thead class="border-dark">
    <tr>
      <th class="text-center text-white" style="background-color: #c8131a">
        Account Code
      </th>
      <th class="text-center text-white" style="background-color: #c8131a">
        Account Description
      </th>
      <th class="text-center text-white" style="background-color: #c8131a">
        Account Type
      </th>
      <th class="text-center text-white" style="background-color: #c8131a">
        Nature of Log
      </th>

      <th class="text-center text-white" style="background-color: #c8131a">
        Action
      </th>
    </tr>
  </thead>
  <tbody class="table-group-divider text-center">
    <tr>
      <td>n</td>
      <td>n</td>
      <td>n</td>
      <td>n</td>
      <td>
        <button
          class="btn btn-success activate_button"
          data-bs-toggle="modal"
          data-bs-target="#activate_account_modal"
        >
          <i class="fa-solid fa-power-off"></i>Activate
        </button>
      </td>
    </tr>
  </tbody>
</table>

<!-- for activate account modal -->
{% include 'coa/coa_modals/activate_account.html' %}
