{% load static %}

<div class="ps_logo_item">
  <img
    src="{% static 'images/passenger_seat_logo.png' %}"
    alt="Passenger Seat Logo"
  />Passenger Seat
</div>

<!-- up to you if user profile or initials or name -->
<div class="ps_navbar_content">
  <i class="fa-solid fa-bell fontawesome_icon"></i>
  <img
    src="{% static 'images/passenger_seat_logo.png' %}"
    alt="User Profile"
    class="profile"
  />
</div>

<!-- 
        for directory in the nav 
        for example: [icon] Dashboard > [icon] Financial Tracking > [icon] Revenue Tracking
       -->
<!-- or a searchbar -->
<!-- <div></div> uncomment this if you want to implement whats on top of this -->
