.deactivate_button {
  background-color: var(--red-color);
}

.activate_button {
  background-color: var(--green-color);
  border-color: transparent;
}

.edit_button:hover {
  background-color: var(--darker-yellow-color);
  border-color: transparent;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
