*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white-color: #fff;
  --red-color: #c8131a;
  --grey-color: #525252;
  --grey-color-light: #aaa;
}

html,
body {
  height: 100%;
}

body {
  font: 14px/1;
  color: var(--grey-color);
  background: var(--white-color);
}

h1 {
  padding: 10px;
  font-weight: 500;
  font-size: 2.1rem;
  color: var(--red-color);
}

main {
  min-width: 320px;
  max-width: 100%;
  padding: 50px;
  margin: 1rem 2rem;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow */
}

section {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid var(--grey-color-light);
}

.tab_panel {
  display: none;
}

.label_panel {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: var(--grey-color-light);
  border: 1px solid transparent;
}

.label_panel:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}

.label_panel[for*="1"]:before {
  content: "\f500";
}

.label_panel[for*="2"]:before {
  content: "\f4ff";
}

.label_panel[for*="3"]:before {
  content: "\f6ff";
}

.label_panel:hover {
  color: #888;
  cursor: pointer;
}

.tab_panel:checked + label {
  color: var(--grey-color);
  border: 1px solid var(--grey-color-light);
  border-top: 3px solid var(--red-color);
  border-bottom: 1px solid var(--white-color);
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
  display: block;
}

/* table */
.custom_button {
  background-color: var(
    --red-color
  ); /* Change button background to desired color */
  color: white; /* Button text color */
  border: none; /* Remove default borders */
  padding: 8px 12px; /* Padding for button */
  margin-right: 10px; /* Add space between buttons */
  border-radius: 4px; /* Rounded corners */
  cursor: pointer; /* Pointer on hover */
  font-size: 14px; /* Font size */
  margin-bottom: 0.5rem;
}

.custom_button:hover {
  background-color: #a31218; /* Slightly darker color on hover */
}

.tab_panel_title {
  color: var(--red-color);
}

@media screen and (max-width: 650px) {
  .label_panel {
    font-size: 0;
  }

  .label_panel:before {
    margin: 0;
    font-size: 18px;
  }
}
@media screen and (max-width: 400px) {
  .label_panel {
    padding: 15px;
  }
}
